<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name ="CC" connectionString ="server=DESKTOP-G22R55A\SQLEXPRESS; database=E-Apartments;trusted_connection=yes;"/>-->
		<add name ="CC" connectionString ="server=DESKTOP-G22R55A\SQLEXPRESS; database=E-Apartments;trusted_connection=yes;"/>
		<add name ="dbcon" connectionString ="server=DESKTOP-G22R55A\SQLEXPRESS; database=E-Apartments;trusted_connection=yes;"/>

	</connectionStrings>
</configuration>